# Databases
*.sqlite3
*.sqlite3.*bak
*.sqlite3.*new

# Python compiled
*.pyo
*.pyc

# Local configs
iws/iws/settings.py
secretkey.txt
allowhosts.txt
tmp/

# Static
/iws/static/

# uwsgi files
log/
iws_uwsgi.ini
iws_uwsgi.pid
