/* IWS webview base CSS */

@import url('fonts.css');

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	/*-webkit-transition: 250ms linear 0s;*/
	/*-moz-transition: 250ms linear 0s;*/
	/*-o-transition: 250ms linear 0s;*/
	/*transition: 250ms linear 0s;*/
}
body {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
	font-size: 10pt;
}
a {
	color: #417690;
	text-decoration: none;
}
a:hover {
	/*text-shadow: 0 0 16px #4d6ad8;*/
	/*text-decoration: underline;*/
	color: #fff;
	background-color: #417690;
}
p {
	margin-top: 4px;
}
div {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	margin: 4px;
}
div.leftside {
	width: 300px;
	float: left;
	display: inline-block;
}
div.rightside {
	width: calc(100% - 300px);
	float: left;
	display: inline-block;
}
div.topleft {
	float: left;
	display: inline-block;
}
div.topright {
	float: right;
	display: inline-block;
	text-align: right;
    color: #fff;
}
div.clientheader {
	margin-bottom: 0px;
	border-bottom: 0px;
}
div.clienttable {
	margin-top: 0px;
}
div.header {
	background: #417690;
	position: relative;
}
div.header h1 {
	font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    margin: 4px 0px;
}
div.footer {
	clear: both;
	padding: 0px;
	margin: 0px;
	border: none;
}
div.noborder {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}
div.tabnav {
	display: inline-block;
	border-width: 1px 1px 0px 0px;
	margin: 0px;
	background-color: #c0c0c0;
	/*padding: 6px;*/
}
#nav > .selected {
    background: #fff;
}
div.tabnav:nth-child(1) {
	border-width: 1px 1px 0px 1px;
}
div.panel {
	display: none;
}
div.open {
	display: block;
	margin-top: 0px;
	border-top: none;
}
table {
	border-collapse: collapse;
	/*width: 100%;*/
	margin: 4px;
}
th, td {
	text-align: right;
}
tbody tr:hover {
	background-color: #c0c0c0;
}
tbody tr.selected {
    color: #fff;
	background: #417690;
}
th:nth-child(1), td:nth-child(1) {
	text-align: left;
}
col.clientname {
	width: 160px;
}
col.count {
	width: 80px;
}
td.count, th.count {
	width: 80px;
}
td.reqtitle, th.reqtitle {
	text-align: left;
	width: 200px;
	/*min-width: 240px;*/
}
td.date, th.date {
	width: 140px;
	/*min-width: 120px;*/
}
td.user, th.user {
	width: 100px;
	/*min-width: 80px;*/
}

#container {
	margin: 0px;
	padding: 0px;
	border: none;
}
#nav {
	/*line-height: 24px;*/
	margin-bottom: 0px;
	padding: 0px;
	border-width: 0px 0px 1px 0px;
	/*padding-left: 8px;*/
	/*border-bottom: none;*/
}
#clientdetails {
	margin-top: 8px;
}
