<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="webview.css">
		<link rel="canonical" href="">
		<link rel="alternate" type="application/rss+xml" title="" href="">
		<script type="text/javascript" src="angular.min.js.gz"></script>
		<script type="text/javascript" src="webview.js"></script>
		<title>IWS Webview Testbed</title>
	</head>
	<body>
		<div id="main" ng-app="iws-webview">
			<div id="header" class="header">
				<div class="noborder topright" ng-controller="AuthController">Logged in as <strong>{{status.username}}</strong></div>
				<div class="footer"></div>
			</div>
			<div id="sidebar" class="leftside noborder">
				<div id="clientlist" ng-controller="ClientListController as clcon">
					<table class="clienttable">
						<colgroup>
							<col class="clientname"></col>
							<col class="count"></col>
							<col class="count"></col>
						</colgroup>
						<thead>
							<tr>
								<th>Client Name</th><th>Open</th><th>Closed</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="client in client_list" ng-click="clcon.selectclient(client.id)">
								<td>{{client.name}}</td><td>{{client.open_count}}</td><td>{{client.closed_count}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="clientdetails" ng-controller="ClientDetailController as cdcon">
					<strong>{{client.name}}</strong><br/>
					<p>Contact name:<br/>{{client.con_name}}</p>
					<p>Contact email:<br/>{{client.con_mail}}</p>
					<p>Date added:<br/>{{client.date_add}}</p>
				</div>
			</div>
			<div id="container" class="rightside">
				<div id="nav">
					<div class="tabnav"><a href="#clientopen">Open requests</a></div><div class="tabnav">
					<a href="#clientclosed">Closed requests</a></div>
				</div>
				<div id="clientopen" class="panel" ng-controller="ClientOpenController as cocon">
					<table class="opentable">
						<thead>
							<tr>
								<th class="count">Priority</th>
								<th class="reqtitle">Title</th>
								<th class="date">Open Date</th>
								<th class="date">Target Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="oreq in client.open_list">
								<td class="count">{{oreq.priority}}</td>
								<td class="reqtitle">{{oreq.title}}</td>
								<td class="date">{{oreq.opened_at}}</td>
								<td class="date">{{oreq.date_tgt}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="clientclosed" class="panel">
					<p>This is panel three.</p>
					<p><a href="#clientopen">Go to panel two.</a></p>
				</div>
			</div>
			<div id="footer", class="footer"></div>
		</div>
	</body>
</html>
