<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="webview.css">
		<link rel="canonical" href="">
		<link rel="alternate" type="application/rss+xml" title="" href="">
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="webview.js"></script>
		<title>IWS Demo Webview</title>
	</head>
	<body ng-app="iws-webview">
		<div id="main" ng-controller="ClientListController as clcon">
			<div id="header" class="header">
				<div class="noborder topleft"><h1>IWS Demo</h1></div>
				<div class="noborder topright" ng-controller="AuthController as aucon">
					<strong>{{status.username}}</strong> / <a href="/featreq/login/?next=/webview/">Log out</a>
				</div>
				<div class="footer"></div>
			</div>
			<div id="sidebar" class="leftside noborder">
				<div id="clientlist" class="noborder">
					<div class="header clientheader">Client list</div>
					<div class="clienttable">
						<table>
							<colgroup>
								<col class="clientname"></col>
								<col class="count"></col>
								<col class="count"></col>
							</colgroup>
							<thead>
								<tr>
									<th>Client Name</th><th>Open</th><th>Closed</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-class="{selected: client.id == client_id}" ng-repeat="client in client_list" ng-click="clcon.selectclient(client.id)">
									<td>{{client.name}}</td><td>{{client.open_count}}</td><td>{{client.closed_count}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="clientdetails" ng-controller="ClientDetailController as cdcon" ng-class="{hidden: !client_id}">
					<p><span class="sectitle">{{client.name}}</span></p>
					<p>Contact name:<br/>{{client.con_name}}</p>
					<p>Contact email:<br/><a href="mailto:{{client.con_mail}}">{{client.con_mail}}</a></p>
					<p>Date added:<br/>{{client.date_add}}</p>
				</div>
			</div>
			<div id="container" class="rightside" ng-controller="ReqListController as rlcon">
				<div id="nav">
					<div class="tabnav" ng-class="{selected: tab=='open'}" ng-click="rlcon.selecttab('open')">Open requests
					</div><div class="tabnav" ng-class="{selected: tab=='closed'}" ng-click="rlcon.selecttab('closed')">Closed requests</div>
				</div>
				<div id="clientopen" class="panel" ng-class="{open: tab=='open'}">
					<table>
						<thead>
							<tr>
								<th class="count">Priority</th>
								<th class="reqtitle">Title</th>
								<th class="short">Product Area</th>
								<th class="date">Target Date</th>
								<th class="date">Open Date</th>
								<th class="user">Opened By</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="oreq in client.open_list" ng-class="{selected: oreq.id == req_id.open}" ng-click="rlcon.selectreq(oreq.id)">
								<td class="count">{{oreq.priority}}</td>
								<td class="reqtitle">{{oreq.title}}</td>
								<td class="short">{{oreq.prod_area}}</td>
								<td class="date">{{oreq.date_tgt.toDateString()}}</td>
								<td class="date">{{oreq.opened_at.toDateString()}}</td>
								<td class="user">{{oreq.opened_by}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="clientclosed" class="panel" ng-class="{open: tab=='closed'}">
					<table>
						<thead>
							<tr>
								<th class="short">Status</th>
								<th class="reqtitle">Title</th>
								<th class="short">Product Area</th>
								<th class="date">Target Date</th>
								<th class="date">Closed On</th>
								<th class="user">Closed By</th>
								<th class="date">Opened On</th>
								<th class="user">Opened By</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="creq in client.closed_list" ng-class="{selected: creq.id == req_id.closed}" ng-click="rlcon.selectreq(creq.id)">
								<td class="short">{{creq.status}}</td>
								<td class="reqtitle">{{creq.title}}</td>
								<td class="short">{{creq.prod_area}}</td>
								<td class="date">{{creq.date_tgt.toDateString()}}</td>
								<td class="date">{{creq.closed_at.toDateString()}}</td>
								<td class="user">{{creq.closed_by}}</td>
								<td class="date">{{creq.opened_at.toDateString()}}</td>
								<td class="user">{{creq.opened_by}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="reqdetails" ng-controller="ReqDetailController as rdcon" ng-class="{hidden: !req.id}">
					<p><span class="sectitle">{{req.title}}</span></p>
					<p>
						Product Area: <strong>{{req.prod_area}}</strong><br/>
						Reference: <a href="{{req.ref_url}}">{{req.ref_url}}</a>
					</p>
					<p>Description:<br/>{{req.desc}}</p>
				</div>
			</div>
			<div id="footer", class="footer"></div>
		</div>
	</body>
</html>
