/* IWS webview base CSS */

@import url('fonts.css');

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	/*-webkit-transition: 250ms linear 0s;*/
	/*-moz-transition: 250ms linear 0s;*/
	/*-o-transition: 250ms linear 0s;*/
	/*transition: 250ms linear 0s;*/
}
body {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
	font-size: 10pt;
	padding-left: calc(100vw - 100%);
}
a {
	color: #417690;
	text-decoration: none;
}
a:hover {
	/*text-shadow: 0 0 16px #4d6ad8;*/
	/*text-decoration: underline;*/
	color: #fff;
	background-color: #417690;
	cursor: pointer;
}
p {
	margin-top: 4px;
}
div {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	margin: 4px;
}
div.leftside {
	width: 330px;
	float: left;
	position: relative;
}
div.rightside {
	width: calc(100% - 330px);
	float: left;
	position: relative;
}
div.topleft {
	float: left;
	display: inline-block;
}
div.topright {
	float: right;
	display: inline-block;
	text-align: right;
	line-height: 30px;
}
div.header {
	background: #417690;
	position: relative;
    color: #fff;
	border-color: #333;
}
div.header a {
    color: #fff;
}
div.header a:hover {
    color: #fff;
    text-decoration: underline;
}
div.header h1 {
	font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 4px 0px;
}
div.footer {
	clear: both;
	padding: 0px;
	margin: 0px;
	border: none;
}
div.perchheader {
	margin-bottom: 0px;
	/*border-bottom: 0px;*/
	border-color: #333;
	border-width: 1px;
}
div.clienttable {
	margin-top: 0px;
	border-top-width: 0px;
}
div.noborder {
	border-width: 0px;
	margin: 0px;
}
div.nopadding {
	padding: 0px;
}
div.toppadding {
	padding: 4px 0px 0px 0px;
}
div.panel {
	display: none;
}
div.open {
	display: block;
	margin-top: 0px;
	border-top: none;
}
div.button-row {
	padding: 0px;	
    margin: 4px 0px;
    border: 0px;
}
div.oreq {
	margin: 4px 0px;
	border-width: 0px;
}
div.oreq-row {
	width: 100%;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	/*line-height: 24px;*/
}
div.oreq-row > div {
	display: inline-block;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}
div.req {
	margin: 4px 0px;
	padding: 4px 0px;
	border-width: 0px;
}
div.req-title {
	width: 32px;
	vertical-align: top;
}
div.req-title-edit {
	width: 32px;
	/*vertical-align: middle;*/
}
div.req-text {
	width: 252px;
	overflow-wrap: break-word;
}
div.req-text input[type="text"], input[type="url"] {
	width: 100%;
}
div.oreq-name {
	width: 154px;
}
div.oreq-con {
	width: 100px;
	text-align: right;
}
div.oreq-pri {
	width: 92px;
}
div.oreq-date {
	width: 162px;
}
div.oreq-form {
	border-width: 0px;
	margin: 2px 0px;
	padding: 0px;
}
/*
div.oreq-form input {
	line-height: 18px;
}
*/
div.oreq-form input[type="number"] {
	width: 64px;
	text-align: right;
}
div.oreq-form input[type="date"] {
	width: 158px;
	float: right;
}
div.oreq-form input[type="text"] {
	width: 164px;
}
div.oreq-close {
	line-height: 20px;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}
div.oreq-close input[type="text"] {
	width: 100%;
}
div.tablecon {
	height: 200px;
}
div.tablebody, div.tablehead {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}
div.tablebody table {
	width: calc(100% - 4px);
}
div.tablecon tbody {
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	height: 160px;
}
table {
	border-collapse: collapse;
	/*width: 100%;*/
	margin: 4px;
}
th, td {
	text-align: right;
}
tbody tr:hover {
	background-color: #c0c0c0;
	cursor: pointer;
}
tbody tr.selected {
    color: #fff;
	background: #417690;
}
th:nth-child(1), td:nth-child(1) {
	text-align: left;
}
col.clientname {
	width: 160px;
}
col.count {
	width: 80px;
}
td.clientname, th.clientname {
	width: 160px;
}
td.count, th.count {
	width: 60px;
}
td.reqtitle, th.reqtitle {
	text-align: left;
	width: 160px;
}
td.short, th.short {
	text-align: left;
	width: 70px;
}
td.date, th.date {
	width: 100px;
}
td.user, th.user {
	width: 80px;
}
pre.desc, pre.reason {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    /*background: #ddd;*/
	font-size: 10pt;
	margin: 0px 0px 0.5em;
	white-space: pre-wrap;
}
input {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
	font-size: 10pt;
	border: 1px solid #c0c0c0;
	padding-left: 2px;
	/*padding: 2px 1px;*/
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
}
input.ng-dirty.ng-invalid {
	border: 1px solid #CC0000;
}
input.ng-dirty.ng-invalid:focus {
	box-shadow: 0 0 2px 0px #CC0000;
	outline-color: #CC0000;
	/*outline-width: 1px;*/
}
input[type="button"] {
    background-color: #fff;
    color: #417690;
    font-weight: 400;
    border: 1px solid #417690;
    line-height: 14px;
    padding: 1px 3px;
    cursor: pointer;
}
input[type="button"]:active {
	background-color: #417690;
	color: #fff;
}
input[type="number"]::-webkit-inner-spin-button {
	opacity: 1;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
select {
	font-size: 10pt;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    background-color: white;
    /*padding: 1px;*/
	border: 1px solid #c0c0c0;
}
button {
	font-size: 10pt;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
button.tabnav {
	display: inline-block;
	border-width: 1px 1px 0px 0px;
	border-color: #333;
	border-style: solid;
	margin: 0px;
	background-color: #c0c0c0;
	/*padding: 6px;*/
	cursor: pointer;
	line-height: 24px;
}
button.tabnav:active {
	background-color: #fff;
	color: #417690;
}
button.tabnav:first-child {
	border-width: 1px 1px 0px 1px;
}
textarea {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	font-size: 10pt;
}
#outer {
	width: 960px;
	margin: auto;
}
#container {
	margin: 0px;
	padding: 0px;
	border: none;
}
#header {
	padding: 4px 8px;
}
#nav {
	/*line-height: 24px;*/
	margin-bottom: 0px;
	padding: 0px;
	border-width: 0px 0px 1px 0px;
	/*padding-left: 8px;*/
	/*border-bottom: none;*/
}
#nav > .selected {
    color: #fff;
	background: #417690;
	border-color: #333;
}
#clientdetails {
	margin-top: 8px;
	padding: 4px 12px 4px;
}
#clientdetails .form-row {
    padding: 4px 1.5em 4px 0;
    margin: 0px 0px 4px;
    border: 0px;
}
#clientdetails .button-row {
    padding: 4px 1.5em 4px 0;
    margin: 4px 0px;
    border: 0px;
}
#reqdetails {
	margin-top: 8px;
}
#reqnew {
	width: 320px;
	border-width: 0px;
	margin: 0px;
	display: inline-block;	
}
#reqdata {
	width: 320px;
	display: inline-block;
	vertical-align: top;
	/*margin-bottom: 6px;*/
	padding-right: 24px;
}
#reqdata textarea {
	width: 284px;
	height: 48px;
}
#reqdata .button-row {
	padding: 0px 4px;
}
#reqlists {
	width: 270px;
	display: inline-block;
	vertical-align: top;
}
#reqopennew {
	/*padding: 4px 0px;*/
}
#login {
	margin: auto;
	border-width: 0px;
	width: 300px;
}
#login .form-row {
    padding: 4px 0.8em 4px 0;
    border: 0px;
    text-align: right;
}
#login .form-row label {
    padding: 0 0.2em;
    line-height: 2em;
    font-size: 1em;
    /*clear: both;*/
    color: #333;
}
#login .submit-row {
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    text-align: center;
}
#login-msg {
	text-align: center;
	margin-bottom: 0px;
}
#login-form {
	margin-top: 0px;
	border-top: 0px;
}
.hidden {
	display: none !important;
}
.sectitle {
	text-decoration: underline;
	font-weight: 700;
	/*line-height: 20px;*/
}
.error {
	background-color: #ff9999;
	color: #333;
	text-align: center;
}
.floatclear {
	clear: both;
	padding: 0px;
	margin: 0px;
	border-width: 0px;
}
span.error {
	padding-right: 4px;
	padding-left: 4px;
	color: #CC0000;
	background-color: initial;
}
span.textright {
	text-align: right;
	float: right;
}
