/* IWS webview base CSS */

@import url('fonts.css');

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	/*-webkit-transition: 250ms linear 0s;*/
	/*-moz-transition: 250ms linear 0s;*/
	/*-o-transition: 250ms linear 0s;*/
	/*transition: 250ms linear 0s;*/
}
body {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
	font-size: 10pt;
}
a {
	color: #417690;
	text-decoration: none;
}
a:hover {
	/*text-shadow: 0 0 16px #4d6ad8;*/
	/*text-decoration: underline;*/
	color: #fff;
	background-color: #417690;
}
p {
	margin-top: 4px;
}
div {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	margin: 4px;
}
div.leftside {
	width: 280px;
	float: left;
	display: inline-block;
}
div.rightside {
	width: calc(100% - 280px);
	float: left;
	display: inline-block;
}
div.topleft {
	float: left;
	display: inline-block;
}
div.topright {
	float: right;
	display: inline-block;
	text-align: right;
	line-height: 30px;
}
div.topright a:hover {
	cursor: pointer;
}
div.header {
	background: #417690;
	position: relative;
    color: #fff;
	border-color: #333;
}
div.header a {
    color: #fff;
}
div.header a:hover {
    color: #fff;
    text-decoration: underline;
}
div.header h1 {
	font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 4px 0px;
}
div.footer {
	clear: both;
	padding: 0px;
	margin: 0px;
	border: none;
}
div.perchheader {
	margin-bottom: 0px;
	border-bottom: 0px;
	border-color: #333;
	border-width: 1px;
}
div.clienttable {
	margin-top: 0px;
}
div.noborder {
	border-width: 0px;
	margin: 0px;
}
div.nopadding {
	padding: 0px;
}
div.tabnav {
	display: inline-block;
	border-width: 1px 1px 0px 0px;
	margin: 0px;
	background-color: #c0c0c0;
	/*padding: 6px;*/
	cursor: pointer;
}
div.tabnav:first-child {
	border-width: 1px 1px 0px 1px;
}
div.panel {
	display: none;
}
div.open {
	display: block;
	margin-top: 0px;
	border-top: none;
}
table {
	border-collapse: collapse;
	/*width: 100%;*/
	margin: 4px;
}
th, td {
	text-align: right;
}
tbody tr:hover {
	background-color: #c0c0c0;
	cursor: pointer;
}
tbody tr.selected {
    color: #fff;
	background: #417690;
}
th:nth-child(1), td:nth-child(1) {
	text-align: left;
}
col.clientname {
	width: 160px;
}
col.count {
	width: 80px;
}
td.count, th.count {
	width: 60px;
}
td.reqtitle, th.reqtitle {
	text-align: left;
	width: 160px;
}
td.short, th.short {
	text-align: left;
	width: 70px;
}
td.date, th.date {
	width: 100px;
}
td.user, th.user {
	width: 80px;
}
pre.desc {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    /*background: #ddd;*/
	font-size: 10pt;
	margin: 0px 0px 0.5em;
}
input {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
	font-size: 10pt;
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
}
input.ng-dirty.ng-invalid {
	border: 1px solid #CC0000;
	padding: 2px 1px;
}
input.ng-dirty.ng-invalid:focus {
	box-shadow: 0 0 2px 0px #CC0000;
	outline-color: #CC0000;
	/*outline-width: 1px;*/
}
#container {
	margin: 0px;
	padding: 0px;
	border: none;
}
#header {
	padding: 4px 8px;
}
#nav {
	/*line-height: 24px;*/
	margin-bottom: 0px;
	padding: 0px;
	border-width: 0px 0px 1px 0px;
	/*padding-left: 8px;*/
	/*border-bottom: none;*/
}
#nav > .selected {
    color: #fff;
	background: #417690;
	border-color: #333;
}
#clientdetails {
	/*margin-top: 8px;*/
	padding: 8px;
}
#clientdetails .form-row {
    padding: 4px 1.5em 4px 0;
    margin: 0px 0px 4px;
    border: 0px;
}
#clientdetails .button-row {
    padding: 4px 1.5em 4px 0;
    margin: 4px 0px;
    border: 0px;
}
#login {
	margin: auto;
	border-width: 0px;
	width: 300px;
}
#login .form-row {
    padding: 4px 0.8em 4px 0;
    border: 0px;
    text-align: right;
}
#login .form-row label {
    padding: 0 0.2em;
    line-height: 2em;
    font-size: 1em;
    /*clear: both;*/
    color: #333;
}
#login .submit-row {
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    text-align: center;
}
#login-msg {
	text-align: center;
	margin-bottom: 0px;
}
#login-form {
	margin-top: 0px;
	border-top: 0px;
}
.hidden {
	display: none !important;
}
.sectitle {
	text-decoration: underline;
	font-weight: 700;
	/*line-height: 20px;*/
}
.error {
	background-color: #ff9999;
	color: #333;
	text-align: center;
}
span.error {
	padding-right: 4px;
	padding-left: 4px;
	color: #CC0000;
	background-color: initial;
}