{% load staticfiles %}
<html lang="en-us" >
<head>
<title>IWS-Demo -- {{ request.path }}</title>
<link rel="stylesheet" type="text/css" href="{% static "featreq/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "featreq/json.css" %}" />
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="json" data-admin-utc-offset="{% now "Z" %}">

<div id="container">
  <div id="header">
      <div id="branding">
          <h1 id="site-name"><a href="{{ request.get_full_path }}"><strong>{{ request.method }}</strong> {{ request.get_full_path }}</a></h1>
      </div>
  </div>
  <div id="content">
    <div id="content-main">
      <div id="response-code">
        <p>Response: <strong>{{ response.status_code }} {{ response.reason_phrase }}</strong></p>
      </div>
      <div id="response-body">
        <pre>{{ response.content }}</pre>
      </div>
    </div>
    <br class="clear" />
  </div>
  <div id="footer"></div>
</div>

</body>
</html>
